ALWAYS_SEARCH_USER_PATHS = NO
ARCHS = x86_64
CLANG_CXX_LANGUAGE_STANDARD = gnu++1y
CLANG_CXX_LIBRARY = libc++
DYLIB_INSTALL_NAME_BASE = @rpath
GCC_CW_ASM_SYNTAX = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_ENABLE_CPP_EXCEPTIONS = NO
GCC_ENABLE_CPP_RTTI = NO
GCC_ENABLE_PASCAL_STRINGS = NO
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
HEADER_SEARCH_PATHS = /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/include/node /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/src /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/deps/openssl/config /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/deps/openssl/openssl/include /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/deps/uv/include /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/deps/zlib /Users/robertblackwell/Library/Caches/node-gyp/11.9.0/deps/v8/include
MACOSX_DEPLOYMENT_TARGET = 10.7
OTHER_CFLAGS = -fno-strict-aliasing
OTHER_LDFLAGS = -Wl,-no_pie -Wl,-search_paths_first
PREBINDING = NO
PRODUCT_NAME = action_after_build
USE_HEADERMAP = NO
WARNING_CFLAGS = -Wall -Wendif-labels -W -Wno-unused-parameter
