#include "action_after_build/action_after_build_base.xcconfig"
GCC_OPTIMIZATION_LEVEL = 0
GCC_PREPROCESSOR_DEFINITIONS = NODE_GYP_MODULE_NAME=action_after_build USING_UV_SHARED=1 USING_V8_SHARED=1 V8_DEPRECATION_WARNINGS=1 _DARWIN_USE_64_BIT_INODE=1 _LARGEFILE_SOURCE _FILE_OFFSET_BITS=64 DEBUG _DEBUG V8_ENABLE_CHECKS
